.card-container {
  width: 80%;
  margin: 1px auto;
  border: 1px solid black;
  margin: 5px;
  padding: 10px;

  &:hover{
    background-color: darken(#eee, 15%);
    position: relative;
    top: -3px;
    left: +3px;
  }

  .tool-tip:hover{
    font-size: large;
    font-weight: bold;
  }

  .image-vertical-container {
    height: 100%;
    position: relative;
    padding: 1px auto 1px;

    .image-vertical-inner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid black;
    }
  }

  .arrow-container {
    height: 100%;
    position: relative;

    .arrow {
      font-size: 400%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
