@import './pages/CountryMap.scss';
@import './pages/CountryDetails.scss';
@import './components/CountryCard.scss';
@import './components/SearchBox.scss';

$width-button: 160px;

.btn {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  width: $width-button;
}

.loading-container {
  text-align: center;
  top: 200px;
  position: relative;

  .loading-text {
    margin-top: 10px;
  }
}
